@using FoodDeliveryNetwork.Web.ViewModels.Owner;

@model IEnumerable<RestaurantViewModel>

<div class="d-flex mb-2">
    <a href="/owner/newrestaurant" class="ms-auto btn btn-primary">Add new restaurant</a>
</div>

@if (Model.Any())
{
    @foreach (var r in Model)
    {
        <div class="card mb-2">
            <h5 class="card-header">@r.Name</h5>
            <div class="card-body">
                <p class="card-text">Address: @r.Address</p>
                <p class="card-text">Dishes: @r.TotalDishes</p>
                <p class="card-text">Dispatchers: @r.TotalDispatchers</p>
                <p class="card-text">Couriers: @r.TotalCouriers</p>
                <div class="d-flex">
                    <form action="@Url.Action("DeleteRestaurant", "Owner")" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="restaurantId" value="@r.Id" />
                        <button type="submit" class="btn btn-danger ms-auto">Delete</button>
                    </form>
                    <a href="/owner/editrestaurant/@r.Id" class="ms-1 btn btn-warning">Edit</a>
                    <a href="#" class="ms-1 btn btn-info">Manage dishes</a>
                    <a href="#" class="ms-1 btn btn-info">Manage dispatchers</a>
                    <a href="#" class="ms-1 btn btn-info">Manage couriers</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-info" role="alert">
        You don't have any restaurants yet. Or my services don't work. Who knows?
    </div>
}